@charset "utf-8";
/* CSS Document */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.H2 {
  font-size: 20px;
}

.p {
  font-size: 10px;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("links/1268605503.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  scroll-behavior: smooth;
  flex-direction: column;
 
}

.logo {
  height: 50px;
  cursor: pointer;
}

.navbar {
  width: 95%;
  height: 14%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  color: #fbfcfd;
  width: 100px;
  padding: 5px;
  float: right;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.wrapper {
  width: 92%;
      min-height: 400px;
    max-height: 500px;
  /*background: linear-gradient(#00545d, #000729);*/
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #62ade7;
  float: left;
  left: 5%;
  top: 16%;
  border-radius: 8px;
  padding: 20px;
}

.Box1 {
  width: 100%;
  padding-bottom: 0px;
}

.Box2 {
  width: 100%;
  padding-bottom: 0px;
}
.dropdown {
  /* float: right; */
  /* right-margin: 500px; */
  /* margin-top: -30px; */
  display: inline-block;
}

.wrapper .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.right {
  width: 43%;
  height: 60vh;
  /*background: linear-gradient(#00545d, #000729);*/
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #62ade7;
  float: right;
  right: 5%;
  top: 16%;
  border-radius: 8px;
  padding: 20px;
}

#select {
  float: right;
  right: 5%;
}

.approver {
  width: 30%;
  height: 10vh;
  background: rgba(0, 0, 0, 0.8);
  text-align: left;
  vertical-align: middle;
  border: 1px solid #62ade7;
  position: absolute;
  float: left;
  left: 10%;
  top: 78%;
  border-radius: 8px;
}

.approver .form1 .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.approver .form1 .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.approver .form1 .inputfield .textarea {
  width: 50%;
  height: 10%;
  resize: none;
}

.approver .dropdown1 {
  align-content: flex-end;
  text-align: right;
}

.footer {
  bottom: 0;
  font-size: 10px;
  align-content: center;
  /* right: 10; */
  margin: -7px 619px;
}

.footer1 {
  bottom: 0;
  font-size: 10px;
  align-content: center;
  margin: 542px 619px;
}

/* css by Anjali 5-5-2021 */

.inputfield1 {
  display: inline-block;
}

.btn1 {
  width: 97px;
    padding: 2px;
    background-color: rgb(13 5 138);
    color: white;
    border-radius: 14px;
    border: none;
    display: inline;
    float: right;
}

.btn2 {
  width: 97px;
    padding: 2px;
    background-color: rgb(200 0 0);
    color: white;
    border-radius: 14px;
    border: none;
    display: inline;
    float: right;
}

#drpdn {
  padding: 3px;
  border-radius: 30px;
}

#dropdown1 {
  display: inline-block !important;
  padding-left: 20px;
  width: 26%;
}
.btn-grp {
  position: absolute;
  /* top: 111%; */
  /* left: -1448%; */
  width: 648px;
}

.btn-grp .btn1 {
  margin-left: 1%;
}

.aprrove_sec {
  margin-top: 420px;
}
.aprrove_sec3 {
  margin-top: 420px;
}
.textarea1 {
  width: 90% !important;
}

.aprv_btn {
  margin-top: 11px;
}

.prev-next-div a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  /* color: white !important; */
}

.prev-next-div a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #3f51b5;
  color: white;
}

.prev-next-div {
  margin-top: 10px;
}

/* form css */

input[type="text"],input[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
  } */

input[type="submit"]:hover {
  background-color: #45a049;
}

/* .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  } */

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-33 {
  float: left;
  width: 33%;
  margin-top: 6px;
	margin-right: 10px;
}
.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

#right_tic {
  width: 26px;
  display: inline;
}

.inputfield1 p {
  font-size: 12px;
}

.checkbox {
  background-color: #fff;
  display: inline-block;
  height: 28px;
  margin: 0 0.25em;
  width: 22px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.approver1 {
	margin: 26px 0px 30px 76px;
}

.approver1 label {
  display: inline-block;
  margin-bottom: -6px;
}
/* form css end*/

/* end by Anjali */
